<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="btn btn-primary" id="menu-toggle"><i class="fas fa-bars"></i></button><p>   </p><a class="navbar-brand" href="#"  style="margin-left: 1rem;">Caja Bancaria</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div  class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li *ngIf="isLogged" class="nav-item mr-3">
          <a class="nav-link" href="#">
            Bienvenido {{username}}
          </a>
        </li>
        <li class="nav-item active">
          <a *ngIf="isLogged"  class="nav-link" href="#"><i class="fas fa-home"></i>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="far fa-question-circle"></i>Ayuda</a>
        </li>



        <!--button *ngIf="!isLogged" class="btn btn-outline-warning mr-3" routerLink="/signup"><i class="fas fa-user-plus"></i>
          Crear Cuenta</button-->
        <button *ngIf="!isLogged" class="btn btn-outline-success" (click)="login()"><i class="fas fa-sign-in-alt"></i>
          Iniciar Sesión</button>
        <button *ngIf="isLogged" class="btn btn-outline-warning" (click)="logout()"><i class="fas fa-sign-out-alt"></i>
          Cerrar Sesión</button>
      </ul>
      <!--ul class="navbar-nav ml-auto mt-2 mt-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul-->
    </div>
  </nav>
  