<app-menu [isLogged]="isLogged" [isAdmin]="isAdmin" [username]="username"></app-menu>


<div ng-class="active" class="d-flex" id="wrapper">

      <!-- Sidebar -->
      <div *ngIf="isLogged"  class="bg-light border-right" id="sidebar-wrapper" >
        <!--div class="sidebar-heading" style="padding: 1.75rem;"></div-->
        <div class="list-group list-group-flush" id= "items"  >
          <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="/lista" (click)="ocultarMenu()"><i class="fas fa-users"></i>  Afiliados</a>
          <a href="#" class="list-group-item list-group-item-action bg-light" routerLink="informes/TEST" ><i class="fas fa-file-csv"></i>  Informes</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-dollar-sign"></i> Créditos</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="far fa-list-alt"></i> Listado de Informes</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-file-excel"></i> Listado de Créditos</a>
          <a href="#" class="list-group-item list-group-item-action bg-light"><i class="fas fa-tools"></i> Otros</a>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
  
      <!-- Page Content -->
        <div id="page-content-wrapper" class="container-fluid">
          <h1 class="mt-4">Bienvenido</h1>
          <p></p>
  
        </div>
      
  <!-- /#page-content-wrapper -->
  
  </div>
  <!-- /#wrapper -->
  

<router-outlet></router-outlet>
