<div class="container mt-4">
    <table class="table table-light text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Ver</th>
            <th *ngIf="isAdmin" scope="col">Editar</th>
            <th *ngIf="isAdmin" scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let foo of foos">
            <th>{{foo.id}}</th>
            <td>{{foo.name}}</td>
            <td><button class="btn btn-outline-primary" routerLink="/detail/{{foo.id}}"><i class="far fa-eye"></i> Ver</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-warning" routerLink="/update/{{foo.id}}"><i class="far fa-edit"></i> Editar</button></td>
            <td *ngIf="isAdmin"><button class="btn btn-outline-danger" (click)="onDelete(foo.id)"><i class="far fa-trash-alt"></i> Eliminar</button></td>
          </tr>
        </tbody>
      </table>
</div>
