/* You can add global styles to this file, and also import other style files */
.navbar,
.navbar{
  background-color: #237e84;/* #85b2d1;*/
}

.btn-outline-success,
.btn-outline-success{
  border-color: blue;
}
.btn.btn-primary,
.btn.btn-primary{
background-color: #237e84;
}
