<div class="container mt-4">
    <!--div *ngIf="!username"  class="jumbotron">
      <h1 class="display-4"  align="center" > <b>No ha iniciado sesión</b></h1>
        <h1 *ngIf="username" class="display-4"  align="center" > <b>Bienvenido a Caja Bancaria </b></h1>

      </div-->
</div>
